body{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,53,121,0.6502976190476191) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.4;
    font-style: normal;
    
      
    
}
.primary-heading{
background-color:#0000ff;
line-height: 2.4;
font-style: italic;


}
.highlight-headers{
color: black;
background-color: rgb(255, 255,0);
text-decoration:underline;
font-family:'Times New Roman', Times, serif;
line-height: 1;

}

.navigation-menu{
    text-decoration: underline;

    color: rgb(211, 11, 11);
    
}
.navigation-links{
    
    text-transform: capitalize;
        
}
a:visited{
    color: orange;
}
.text-align{

    text-align: center;
}








